# --- Core stack ---
langgraph==0.6.10
langgraph-sdk==0.2.9
langgraph-checkpoint-sqlite==2.0.11
langsmith==0.4.37
langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-text-splitters==0.3.11

# --- Support libs ---
openai==2.4.0
python-dotenv==1.1.1
truststore==0.10.4
scikit-learn==1.7.2
pandas==2.3.3
pyarrow==21.0.0
lxml==6.0.2
notebook==7.4.7
